img {
  max-width: 100%;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-size: 12px;
}

ul {
  list-style: none;
}

.wrapper {
  width: 800px;
  margin-inline: auto;
}

header {
  max-width: 1000px;
  margin-inline: auto;
  border-bottom: solid #c3c3c3;
}
header .title-box {
  width: 100px;
  margin-inline: auto;
  padding-top: 50px;
  margin-bottom: 30px;
}
header nav {
  display: flex;
  justify-content: space-between;
  line-height: 4;
}
header nav .menu-list,
header nav .login-list {
  display: flex;
  gap: 16px;
}

main section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-block: 40px 100px;
}
main section .main-image-box {
  max-width: 400px;
  margin-right: 64px;
}
main section .main-image-box img {
  width: 100%;
}
main section .main-content-box {
  width: 50%;
}
main section .main-content-box h2 {
  font-size: 16px;
  padding-block: 16px;
  border-top: 1px solid #c3c3c3;
  border-bottom: 1px solid #c3c3c3;
  margin-bottom: 16px;
}
main section .main-content-box .text {
  font-size: 12px;
  line-height: 2;
  margin-bottom: 32px;
}
main section .main-content-box .count-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 32px;
}
main section .main-content-box .count-table tr:nth-child(1) td:nth-child(1) {
  width: 20%;
}
main section .main-content-box .count-table tr:nth-child(1) td:nth-child(2) {
  width: 20%;
}
main section .main-content-box .count-table tr:last-child > td {
  border-bottom: none;
}
main section .main-content-box .count-table tr td {
  border-right: #c3c3c3 1px solid;
  border-bottom: #c3c3c3 1px solid;
  text-align: center;
  padding: 8px;
  font-size: 12px;
}
main section .main-content-box .count-table tr td:last-child {
  border-right: none;
}
main section .main-content-box .count-table tr select {
  width: 100%;
  border: 1px solid #c3c3c3;
  padding-inline: 10px;
  appearance: menuList;
}
main section .main-content-box .cart-btn {
  width: 100%;
  background-color: #4b4b4b;
  color: #ffffff;
  text-align: center;
  padding: 16px;
  margin-bottom: 32px;
}
main section .main-content-box .size-table {
  border-collapse: collapse;
}
main section .main-content-box .size-table tr:first-child td {
  width: 30%;
  padding: 8px;
  background-color: #e2e2e2;
  text-align: center;
}
main section .main-content-box .size-table tr:first-child td:first-child {
  width: 10%;
}
main section .main-content-box .size-table tr > td:first-child {
  background-color: #e2e2e2;
}
main section .main-content-box .size-table tr td {
  border: 1px solid #c3c3c3;
  text-align: center;
  padding: 8px;
  font-size: 12px;
}

@media (max-width: 800px) {
  section {
    flex-direction: column;
  }
  section .main-image-box {
    max-width: 100%;
  }
}