* {
    // border: 1px solid red;
}

html {
    font-size: 100%;
}

body {
    color: #262626;
}

a {
    display: inline-block;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
}

section {
    margin-top: 64px;
    padding-inline: 16px;
}

.container {
    max-width: 1200px;
    padding-inline: 16px;
    margin-inline: auto;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
}

header {
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: url("../../img/01/books-background.jpg");

    h1 {
        position: absolute;
        top: 1rem;
        right: 1rem;
    }
}

.main-content-title {
    text-align: center;
}

.btn-more {
    border: 1px solid #262626;
    text-decoration: none;
    color: #262626;
    width: 150px;
    padding-block: 16px;
    margin-top: 1rem;
}

.top-flex-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    margin-top: 5rem;

    &-item {
        position: relative;

        a {
            position: relative;

            img {
                width: 100%;
                height: auto;
                display: block;
            }

            div {
                width: 275px;
                // height: 100px;
                position: absolute;
                top: 50%;
                right: 50%;
                transform: translate(50%, -50%);
                text-align: center;
                background: rgba(0, 0, 0, .5);
                color: #ffffff;
                padding: 16px;
            }
        }

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, 0); // 初期状態は透明
        }

        &:hover::after {
            background-color: rgba(255, 255, 255, 0.5);
            cursor: pointer;
        }
    }
}





.main-content-visual {
    width: 100%;
    height: 450px;
    background-image: url("../../img/01/alex-lvrs-2zDw14yCYqk-unsplash.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

    &-text {
        text-align: center;
        margin-inline: auto;
        padding-top: 48px;
    }
}


.catalog-flex-box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 5rem;

    img {
        display: block;
        height: auto;
        width: 50%;
    }

    &-item {
        text-align: center;

        p {
            text-align: left;
            margin-top: 1rem;
        }
    }
}

.foot-container {
    background-color: #262626;
    padding-block: 100px;
    // text-align: left;

    .foot-contents-list {
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: #ffffff;

        .list-item {
            width: calc(100% / 3);

            .list-item-list {
                list-style: none;

                li::before {
                    content: "-";
                    color: #ffffff;
                }
            }
        }
    }

}

.foot-copy-box {
    text-align: center;
    padding-block: 20px;
}

@media (max-width: 960px) {
    .top-flex-list {
        flex-direction: column;
    }

    .catalog-flex-box {
        flex-direction: column;

        &:nth-child(2) {
            flex-direction: column-reverse;
        }

        img {
            width: 100%;
        }
    }

    .foot-container {

        .foot-contents-list {
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;

            .list-item {
                width: 100%;
                margin-bottom: 48px;

                &:nth-child(1) {
                    text-align: center;
                }
            }
        }
    }
}