* {
    // border: 1px solid red;
}

html {
    font-size: 100%;
}

body {
    color: #262626;
}

a {
    display: inline-block;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
}

.container {
    max-width: 1200px;
    margin-inline: auto;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

header {
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: url("../../img/books-background.jpg");

    h1 {
        position: absolute;
        top: 1rem;
        right: 1rem;
    }
}

.main-content-title {
    text-align: center;
    margin-top: 5rem;
}

.top-flex-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-top: 5rem;

    &-item {
        position: relative;

        a {
            position: relative;

            img {
                width: 100%;
                height: auto;
                display: block;
            }

            div {
                width: 275px;
                height: 100px;
                position: absolute;
                top: 50%;
                right: 25%;
                text-align: center;
                background: rgba(0, 0, 0, .5);
                color: #ffffff;
            }
        }

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, 0); // 初期状態は透明
        }

        &:hover::after {
            background-color: rgba(255, 255, 255, 0.5);
            cursor: pointer;
        }
    }
}





.main-content-visual {
    width: 100%;
    height: 450px;
    margin-top: 6rem;
    background-image: url("../../img/alex-lvrs-2zDw14yCYqk-unsplash.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

    &-text {
        text-align: center;
        margin: 3rem auto 0;

        a {
            border: 1px solid #262626;
            text-decoration: none;
            color: #262626;
            width: 150px;
            padding-block: 16px;
        }
    }
}

.catalog-flex-box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        display: block;
        height: auto;
        width: 100%;
    }

    &-item {}
}