* {
  // border: tomato 1px solid;
}

img {
  display: inline-block;
  width: 100%;
  height: 100%;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-size: 12px;
}

.wrapper {
  width: 800px;
  margin-inline: auto;
}

header {
  max-width: 1000px;
  margin-inline: auto;
  border-bottom: solid #c3c3c3;

  .title-box {
    width: 100px;
    margin-inline: auto;
    padding-top: 50px;
    margin-bottom: 30px;
  }

  nav {
    display: flex;
    justify-content: space-between;
    line-height: 4;


    .menu-list {
      list-style: none;
      display: flex;
      gap: 16px;
    }

    .login-list {
      list-style: none;
      display: flex;
      gap: 16px;
    }
  }
}

main {
  section {
    display: flex;

    .main-image-box {
      max-width: 400px;
    }

    .main-content-box {
      max-width: 400px;
    }
  }
}