* {
  // border: tomato 1px solid;
}

img {
  // display: inline-block;
  max-width: 100%;
  // width: 100%;
  // height: 100%;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-size: 12px;
}

ul {
  list-style: none;
}

.wrapper {
  width: 800px;
  margin-inline: auto;
}

header {
  max-width: 1000px;
  margin-inline: auto;
  border-bottom: solid #c3c3c3;

  .title-box {
    width: 100px;
    margin-inline: auto;
    padding-top: 50px;
    margin-bottom: 30px;
  }

  nav {
    display: flex;
    justify-content: space-between;
    line-height: 4;


    .menu-list,
    .login-list {
      // list-style: none;
      display: flex;
      gap: 16px;
    }

    // .login-list {
    //   // list-style: none;
    //   display: flex;
    //   gap: 16px;
    // }
  }
}

main {
  section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    // margin-top: 40px;
    // margin-bottom: 100px;
    margin-block: 40px 100px;

    .main-image-box {
      max-width: 400px;
      margin-right: 64px;

      img {
        width: 100%;
      }
    }

    .main-content-box {
      width: 50%;

      h2 {
        font-size: 16px;
        padding-block: 16px;
        border-top: 1px solid #c3c3c3;
        border-bottom: 1px solid #c3c3c3;
        margin-bottom: 16px;
      }

      .text {
        font-size: 12px;
        line-height: 2;
        margin-bottom: 32px;
      }

      .count-table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 32px;

        tr {

          &:nth-child(1) {
            td {

              &:nth-child(1) {
                width: 20%;
              }

              &:nth-child(2) {
                width: 20%;
              }
            }
          }

          &:last-child>td {
            border-bottom: none;
          }

          td {
            border-right: #c3c3c3 1px solid;
            border-bottom: #c3c3c3 1px solid;
            text-align: center;
            padding: 8px;
            font-size: 12px;

            &:last-child {
              border-right: none;
            }
          }

          select {
            width: 100%;
            border: 1px solid #c3c3c3;
            padding-inline: 10px;
            appearance: menuList;
          }
        }
      }

      .cart-btn {
        width: 100%;
        background-color: #4b4b4b;
        color: #ffffff;
        text-align: center;
        padding: 16px;
        margin-bottom: 32px;
      }

      .size-table {
        border-collapse: collapse;

        tr {
          &:first-child {
            td {
              width: 30%;
              padding: 8px;
              background-color: #e2e2e2;
              text-align: center;

              &:first-child {
                width: 10%;
              }
            }
          }

          &>td:first-child {
            background-color: #e2e2e2;
          }

          td {
            border: 1px solid #c3c3c3;
            text-align: center;
            padding: 8px;
            font-size: 12px;
          }
        }
      }
    }
  }
}

@media (max-width:800px) {}