body {
    header {
        width: 100%;
        height: 100vh;
        position: relative;
        background-image: url("../../img/books-background.jpg");

        h1 {
            position: absolute;
            top: 1rem;
            right: 1rem;
        }
    }

    main {
        section {}
    }
}