body {
    header {
        width: 100%;
        height: 100vh;
        position: relative;
        background-image: url("../../img/books-background.jpg");

        h1 {
            position: absolute;
            top: 1rem;
            right: 1rem;
        }
    }

    main {
        section {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .main-content-title {
                text-align: center;
                margin-top: 5rem;
                width: 1000px;

                h2 {
                    font-size: 1.5rem;
                    margin-bottom: 1rem;
                }
            }

            .top-flex-list {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 25px;
                margin-top: 5rem;
                width: 1200px;
                height: 475px;
                list-style: none;

                .top-flex-list-item {
                    width: 555px;
                    height: 555px;
                    position: relative;

                    a {
                        width: 555px;
                        height: 555px;
                        display: block;
                        position: relative;

                        img {
                            width: 100%;
                            height: auto;
                            display: block;
                        }

                        div {
                            width: 275px;
                            height: 100px;
                            position: absolute;
                            top: 50%;
                            right: 25%;
                            display: flex;
                            justify-content: center;
                            flex-direction: column;
                            text-align: center;
                            background: rgba(0, 0, 0, .5);


                            h3 {
                                color: #ffffff;
                            }

                            p {
                                color: #ffffff;
                            }
                        }
                    }

                    &::after {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-color: rgba(255, 255, 255, 0); // 初期状態は透明
                    }

                    &:hover::after {
                        background-color: rgba(255, 255, 255, 0.5);
                    }
                }

            }
        }

        section {
            .main-content-visual {
                width: 100%;
                height: 450px;
                margin-top: 6rem;
                background-image: url("../../img/alex-lvrs-2zDw14yCYqk-unsplash.webp");
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                position: relative;

                .main-content-visual-text {
                    h2 {
                        font-size: 1.5rem;
                        margin-bottom: 1rem;
                    }

                    p {
                        color: #262626;
                    }
                }
            }
        }
    }
}