body {
    .header {
        width: 100%;
        height: 100vh;
        position: relative;

        h1 {
            position: absolute;
            top: 1rem;
            right: 1rem;
        }
    }
}