body {
    header {
        width: 100%;
        height: 100vh;
        position: relative;
        background-image: url("../../img/books-background.jpg");

        h1 {
            position: absolute;
            top: 1rem;
            right: 1rem;
        }
    }

    main {
        section {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .main-content-title {
                text-align: center;
                margin-top: 5rem;
                width: 1000px;

                h2 {
                    font-size: 1.5rem;
                    margin-bottom: 1rem;
                }
            }

            .top-flex-list {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 50px;
                margin-top: 5rem;
                width: 1000px;

                .top-flex-list-item {
                    width: 475px;
                    height: 475px;

                    a {
                        width: 475px;
                        height: 475px;
                        display: block;
                        position: relative;

                        img {
                            width: 100%;
                            height: 100%;
                        }

                        div {
                            width: 225px;
                            height: 100px;
                            position: absolute;
                            top: 50%;
                            right: 25%;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}